@model int
<td>
    <a asp-action="Details" asp-route-Id="@Model" class="btn btn-warning">Details</a>
</td>
<td>
    <a asp-action="Edite" asp-route-Id="@Model" class="btn btn-success">Edite</a>
</td>
<td>
    <a asp-action="Delete" asp-route-Id="@Model" class="btn btn-danger">Delete</a>
</td>