@model CreateEmployeeDTO
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>
<br />
<br />
<div>
    <partial name="EmployeePartialView/_DetailsDeletePartialView" />
    <div class="my-3">
       <a asp-action="Edit" asp-route-Id="@ViewBag.EmployeeId" class=" btn btn-warning">Edit</a>
        <a asp-action="Index" class="col-form-light">Back To List</a>     
    </div>
</div>
