@model RoleToReturnDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role</h1>

<br />
<br />
<form asp-action="Edit" enctype="multipart/form-data">

    <partial name="EmployeePartialView/_CreateEditPartialView" model="@Model" />
    <a asp-action="Add Or Remove User" asp-route-roleId="@Model.Id" class="col-form-success">Add Or Remove User</a>


    <div class="my-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="col-form-light">Back To List</a>
    </div>
</form>
@section ValidationSection {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}